extends ../base.pug

block variables
  - var template = 'about'

block body
  .about
    .about__wrapper
      section.about__gallery
        .about__gallery__wrapper
          each media in about.data.gallery
            figure.about__gallery_media 
              img.about__gallery_media__image(alt=media.image.alt, src=media.image.url)
