extends ../base.pug

block variables
  - var template = 'about'

block body
  .about
    .about__wrapper
      section.about__gallery
        .about__gallery__wrapper
          each media in about.data.gallery
            figure.about__gallery_media 
              img.about__gallery_media__image(alt=media.image.alt, src=media.image.url)

  each section in about.data.body
    if section.slice__type === 'title'
      h2.about__title=section.primary.text
    if section.slice__type === 'content'
      section.about__content__description=PrismicDOM.RichText.asHTML(section.primary.description)


      
